{% extends '@biblioBundle/home.html.twig' %}


{% block slider %}
{% endblock %}
{% block global %}

<div class="global indent">
    <div class="container">
        <div class="row">
            <article class="col-lg-8 col-md-8 col-sm-12 blogBox">
                <h3>blog</h3>
                <div class="thumb-pad6 clearfix">
                    <div class="thumbnail">
                        <div class="badgeBox">
                            <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="tl">ineniet inger lot aliiqs dolore ipsum ame.t</a>
                            <p><time datetime="2013-01-01">14 July 2014</time> &nbsp; Posted by <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="lnk">Admin</a> <br><span class="pull-right"><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="lnk">15 Comment(s)</a> <img src="./blog_files/page4_icon1.png" alt=""></span></p>
                        </div>
                        <figure><img src="{{ asset ('img/page4_pic1.jpg') }}" alt=""></figure>
                        <div class="caption">
                            <p>Donec hendrerit metus quis velit sollicitudin tincidunt. Ut ullamcorper, augue at sollicitudin tempus, lectus justo aliquam massa, congue suscipit risus metus eget libero. Donec varius libero a dui egestas dictum. In ut enim et purus sollicitudin consectetur. Donec fermentum diam ac enim varius; vitae tempor augue suscipit. Vestibulum a rhoncus nisi, id consequat eros. Etiam sed turpis eu sapien feugiat viverra ut nec dui.Praesent ac metus nec libero suscipit pellentesque eget eu lacus</p>
                            <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="btn-default btn1">read more</a>
                        </div>
                    </div>
                </div>
                <div class="thumb-pad6 clearfix">
                    <div class="thumbnail">
                        <div class="badgeBox">
                            <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="tl">metus quis velit sollicitudin tincidunt.</a>
                            <p><time datetime="2013-01-01">14 July 2014</time> &nbsp; Posted by <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="lnk">Admin</a> <br><span class="pull-right"><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="lnk">16 Comment(s)</a> <img src="./blog_files/page4_icon1.png" alt=""></span></p>
                        </div>
                        <figure><img src="{{ asset('img/page4_pic2.jpg') }}" alt=""></figure>
                        <div class="caption">
                            <p>Donec hendrerit metus quis velit sollicitudin tincidunt. Ut ullamcorper, augue at sollicitudin tempus, lectus justo aliquam massa, congue suscipit risus metus eget libero. Donec varius libero a dui egestas dictum. In ut enim et purus sollicitudin consectetur. Donec fermentum diam ac enim varius; vitae tempor augue suscipit. Vestibulum a rhoncus nisi, id consequat eros. Etiam sed turpis eu sapien feugiat viverra ut nec dui.Praesent ac metus nec libero suscipit pellentesque eget eu lacus</p>
                            <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="btn-default btn1">read more</a>
                        </div>
                    </div>
                </div>
                <div class="thumb-pad6 clearfix">
                    <div class="thumbnail">
                        <div class="badgeBox">
                            <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="tl">Donec hendrerit metus quis velit sollic.</a>
                            <p><time datetime="2013-01-01">14 July 2014</time> &nbsp; Posted by <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="lnk">Admin</a> <br><span class="pull-right"><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="lnk">20 Comment(s)</a> <img src="./blog_files/page4_icon1.png" alt=""></span></p>
                        </div>
                        <figure><img src="{{ asset('img/page4_pic3.jpg') }}" alt=""></figure>
                        <div class="caption">
                            <p>Vestibulum a rhoncus nisi, id consequat eros. Etiam sed turpis eu sapien feugiat viverra ut nec dui.Praesent ac metus nec libero suscipit pellentesque eget eu lacus. Quisque eu sollicitudin metus, ut suscipit nunc. Pellentesque pretium metus et interdum eleifend. Integer posuere hendrerit odio eu tristique. Morbi laoreet at est sit amet pretium.Duis suscipit rutrum est, in tempus diam sagittis fermentum. Duis eleifend bibendum nulla, vitae pulvinar tellus placerat id. Interdum et malesuada fames ac</p>
                            <a href="https://livedemo00.template-help.com/wt_48292/index-3.html#" class="btn-default btn1">read more</a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-4 col-md-4 col-sm-12 list1Box">
                <h3>categories</h3>
                <ul class="list5">
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Quisque ipsum massa faucibus sit amet auctor</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Sagittis, varius at sapien</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Vivamus blandit justo et tempor pellentes</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Diam eros mattis nulla non blandit</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Risus est ac purus mauris erat tortor</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Malesuada nec sagittis et luctus eget eros</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Donec luctus posuere nisl</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Non tempus lacus commodo ut integer eros</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">Augue, semper nec consectetur</a></li>
                </ul>
                <h3>Archives </h3>
                <ul class="list5">
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">January 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">February 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">March 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">April 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">May 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">June 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">July 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">August 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">September 2013</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-3.html#">October 2013</a></li>
                </ul>
            </article>
        </div>
    </div>
</div>
{% endblock %}
